/* phone or baseline views*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary: #4e0000;
    --secondary: #ebe7db;
    --third: #352d2b;
    --fourth: #6d0100;
    --fifth: #d5b38d;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary);
  }
  p {
    color: var(--secondary);
    text-align: center;
  }
  header {
    align-items: center;
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 3px solid black;
    background-color: var(--primary);
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--primary);
  }
  main {
    background-color: var(--secondary);
  }
  .modified {
    padding: 3px;
    background-color: var(--primary);
    color: var(--secondary);
    border-top: 1px solid white;
    border-bottom: 3px solid black;
  }
  .address a {
    color: var(--secondary);
  }
  
  footer {
    text-align: center;
  }
  body {
    background-color: var(--secondary);
  }
  /*navbar hamburger btn*/
  nav {
    background-color: var(--primary);
    z-index: 2;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--secondary);
  }
  nav ul li a {
    text-align: center;
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--secondary);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
  }
  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  nav ul {
    display: none;
  }
  nav ul.open {
    display: block;
  }
  
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  
  .media {
    display: none;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  
  .logo img {
    width: 80px;
    height: auto;
  }
  /*moldal */
  
  /*main body*/
  #heroimg {
    padding: 5px;
    border-radius: 10px;
    width: 100%;
  }
  #heroimg {
    position: relative;
  }
  
  .reservationimg {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  }
  .reservationbtn {
    justify-content: center;
    margin-left: 15px;
    color: var(--secondary);
    background-color: var(--primary);
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .servicesheader {
    text-align: center;
  }
  .hotel {
    color: var(--primary);
    padding: 5px;
  }
  
  .weatherinfo {
    color: var(--primary);
    display: unset;
  }
  /* thankyou */
  #checkmark {
    justify-self: center;
  }
  .thanks {
    text-align: center;
    color: var(--fourth);
    font-size: 75px;
  }
  .thank {
    color: var(--fourth);
    text-align: center;
    font-size: 30px;
  }
  /*footer */
  .media2 img {
    width: 80px;
  }
  .contactbody {
    padding: 5px;
  }
  
  .footerinfo {
    color: var(--secondary);
  }
  .quickmenu {
    display: none;
    margin: 10px;
  }
  ul li a {
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
  }
  ul {
    list-style: none;
  }
  .email {
    display: none;
    padding: 10;
  }
  .flex {
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    max-width: 700px;
    border-right: 1px solid var(--third);
  }
  
  .forecastdays {
    flex: 1 1 auto;
    border-bottom: 1px solid var(--third);
    border-left: 1px solid var(--third);
    text-align: center;
    background-color: var(--primary);
  }
  /*temples page*/
  #temples {
    display: grid;
    font-weight: 1rem;
    margin: 1rem;
    gap: 2rem;
  }
  
  .temple-image {
    max-width: 25rem;
    box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.25);
  }
  #temples article {
    box-shadow: 0px -3px 13px 0px rgba(0, 0, 0, 0.75);
    padding: 0.3rem;
    text-align: center;
    background-color: #fbd786;
  }
  /*Reservation */
  .reservation{
    display: grid;
  }