/* Css for smaller screen devices */


* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
p, li, div {
    font-family: 'Montserrat';
    font-weight: bold;
}


/* ------- Navigation ------- */
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white
}
nav {
    background-color: #14213D;
    text-align: center;
    padding: .2rem;
}
#menu-btn {
    font-size: 20px;
    align-items: center;
    padding-right: 10px;
}
nav ul {
    list-style-type: none;
    text-decoration: none;
}
nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,.3);
    font-size: large;
}
nav ul li a:hover {
    background-color: #FCA311;
    color: #000000;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#now {
    text-align: center;
    padding: 1.5rem;
    font-size: large;
}

/* ------- Header -------- */

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}
.header-content h1 {
    font-family: 'Noto Serif';
}

/* ------- Main ------- */

main {
    margin: .5rem;
    padding: .1rem;
}
main > div {
    margin-top: 2rem;
}
.news-events, .weather, .join, .spotlightdiv {
    text-align: center;
}
.herodiv {
    margin: 10px auto;
    position: relative;
}
main div section {
    position: absolute;
    top: 10%;
	left: 13%;
    color: white;
    padding: 1.5rem;
}
main div button {
    padding: .5rem;
    margin-top: 1rem;
    font-weight: bolder;
    background-color: #FCA311;
    border: none;
    box-shadow: 0 0 10px #E5E5E5;
    border-radius: 2px;
}
.weather, .spotlightdiv {
    background-color: #E5E5E5; 
}
main div.weather h2, main div.spotlightdiv h2, h3, main div.news-events p, main div.join p {
    padding: 1rem;
}
.join, .news-events {
    padding: 3rem;
    box-shadow: 0 0 10px #888;
}
.spotlight {
    margin: 2rem;
    box-shadow: 0 0 10px #888;
} 
.join button {
    display: block;
    width: 100%;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 1.5rem;
}
.join button:hover {
    background-color: #14213D;
    color: white;
}
.news-events h2 {
    background-color: #14213D;
    color: white;
    padding: 10px;
}


/* ------- Footer ------- */


.footer-content {
    display: flex;
    background-color: #14213D;
    color: white;
    padding: 10px;
}
.footer-content div {
    font-size: 13px;
    text-align: center;
    align-self: center;
    flex: 1 1 auto;
}
.base-footer {
    text-align: center;
    padding: 1.5rem 2vw;
    margin: 2rem;
}
.base-footer p {
    padding: 5px;
    color: #666;
}

/*----Top-page banner----*/
#top-page-banner {
    text-align: center;
    padding: 10px;
    background-color: #FCA311;
}
.bannerBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5%;
    font-weight: bolder;
    font-size: x-large;
}
