@media only screen and (min-width: 64rem) {


    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
    }
    nav ul li{
        align-self: center;
        flex: 1 1 auto;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(211,211,211,.3);
        text-align: center;
        padding: 1rem 2vw;
    }
    nav ul li a:hover {
        padding: 1rem 2vw;
    }
    nav ul a {
        align-self: center;
    }
    nav ul li.social-media-1 a, nav ul li.social-media-2 a{
        border: none;
        padding: 0;
    }

    .header-content{
        padding-left: 0;
    }

    .base-footer {
        display: flex;
        justify-content: center;
    }
    .base-footer p {
        border-right: 1px solid #666;
        border-left: 1px solid #666;
    }
    main div section h2 {
        font-size: 6rem;
    }
    main div section button {
        font-size: 2rem;
        margin: 5rem;
        padding: 1rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .herodiv, .join, .spotlightdiv {
        grid-column: 1 / span 2;
    }
    .news-events {
        align-self: center;
    }
    .join {
        padding: 3rem;
        box-shadow: 0 0 10px #888;
    }
    .join button {
        display: block;
        width: 50%;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        padding: 1.5rem;
    }
    .join button:hover {
        background-color: #14213D;
        color: white;
    }
}