
/*-----For screens with 1020 px and above----------*/
@media only screen and (min-width: 1020px) {

    /* -------Navigation--------*/
    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
    }
    nav ul li{
        align-self: center;
        flex: 1 1 auto;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(211,211,211,.3);
        text-align: center;
        padding: 1rem 2vw;
    }
    nav ul li a:hover {
        padding: 1rem 2vw;
    }
   
    nav ul li.social-media-1 a, nav ul li.social-media-2 a{
        border: none;
        padding: 0;
    }

     /* -------Main--------*/
    main div section button {
        font-size: 2rem;
        padding: 1rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .herodiv, .join, .spotlightdiv {
        grid-column: 1 / span 2;
    }
    .news-events {
        box-shadow: none;
        background-color: #E5E5E5;
    }
    .herodiv section {
        position: absolute;
        top: 25%;
        left: 25%;
    }

    /* -------Footer--------*/
    .base-footer {
        display: flex;
        justify-content: center;
    }
    .base-footer p {
        border-right: 1px solid #666;
        border-left: 1px solid #666;
    }

    /*----Discovery Page-------*/
    main.discover {
        row-gap: 5rem;
    }
    .second-discover-article, .fourth-discover-article, .sixth-discover-article, .eighth-discover-article {
        text-align: right;
    }
    .first-discover-article, .third-discover-article, .fifth-discover-article, .seventh-discover-article,
    .ninth-discover-article {
        text-align: left;
    }

   .first-discover-image, .second-discover-article, .third-discover-image,
   .fifth-discover-image, .ninth-discover-image {
       grid-column: 1;
   }
   .second-discover-article {
       grid-row: 2;
   }
   .second-discover-article, .first-discover-article, .third-discover-article, .fourth-discover-article,
   .fifth-discover-article, .sixth-discover-article, .seventh-discover-article, .eighth-discover-article,
   .ninth-discover-article   {
       align-self: center;
   }
   .fourth-discover-article {
       grid-row: 4;
   }
   .first-discover-article, .second-discover-image, .third-discover-article, .fourth-discover-image,
   .fifth-discover-article, .sixth-discover-image, .eighth-discover-image {
       grid-column: 2;
   }
   .sixth-discover-article {
       grid-row: 6;
   }
   .eighth-discover-article {
       grid-row: 8;
   }


}