@media only screen and (min-width: 35rem) {

    
    .footer-content div {
        margin: 2rem;
    }
    .footer-content img {
        width: 75%;
    }
    
    main div section h2 {
        font-size: xxx-large;
    }
    .herodiv section {
        position: absolute;
        top: 25%;
        left: 15%;
    }
    .spotlightdiv {
        display: flex;
    }
    .spotlight {
        align-self: center;
        flex: 1 1 auto;
    }

}